/*       Base Partial       */
//////////////////////////////


/////////////////
// VARIABLES
/////////////////

// BASE

$wrapper-max-width: 960px;

// COLORS

$background-color: #ececec;
$secondary-background-color: #d3e9f8;

$text-color: #265f7d;
$link-color: #ff5880;
$link-hover-color: #bb2d4f;

$primary-color: #6c5aa7;
$secondary-color:#820422;
$tertiary-color:#ff5880;
$dark-secondary-color:#42a358;

// SHADOWS

$box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
$text-shadow: 1px 1px 3px black, 1px 1px 3px black;

// FONTS 

$header-font: "Gilroy", Calibri, Helvetica, Arial, sans-serif;
$text-font: "Open Sans", Calibri, Helvetica, Arial, sans-serif;

/////////////////
// GLOBAL STYLES
/////////////////

* {
    box-sizing:border-box;
}

html {
    height:100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height:100%;
    background-color:$background-color;
}

#content {
    flex: 1;
}

main {
    padding: 40px 0px;
}

section {
    padding:40px 0;
}

.row {
    max-width:1200px;
    width:100%;
    margin:0 auto;
}

.pane {
//    margin-top:30px;
    margin-bottom: 30px;
    padding:20px;
    background:white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    
    h1 {
        margin-top:0;
        color:#6c5aa7;
    } 
}

#page_load_info {
    display:none;
}


/////////////////
// MODIFIERS
/////////////////

.right {
    float:right;
}

.centered {
    margin-left:auto;
    margin-right:auto;
    float:none;
}

.align-center {
    text-align:center;
}


.align-right {
    text-align:right;
}
