/* Header Partial */
////////////////////

/////////////////
// VARIABLES
/////////////////




/////////////////////
// CONTENT SECTIONS
/////////////////////

header {   
    background-image: url(/layouts/images/footer-image.jpg);
    background-size:cover;
    display: flex;
    
    
    
        
        #logged-in-name {
            color:white;
            font-weight:bold;
            font-size:18px;
            display:block;
        }

        nav {
            display:flex;
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;
            justify-content: space-between;
            padding: 10px;
            
            .navbar-brand {
                color:white;
                font-size:36px;
                font-family:$header-font;
            }
            
            .icon-bar {
                background:white;
            }
            
            ul {
                display: flex;
                justify-content: flex-end;
                margin-bottom:0;
                align-items: center;
                flex-direction:column;
                transition:all 0.2s !important;
                
                li {
                    list-style-type:none;
                    transition:background 0.1s;
                    
                    a {
                        font-size: 14px;
                        color:white !important;
                        text-decoration:none !important;
                        font-weight:normal;    
                        padding:10px;  
                        display:inline-block;
                    }
                    
                    &:hover {
                        background: rgba(255,88,128,0.4);                        
                    }
                    
                    &.active {
                        background:#ff5880;
                        
                        a {
                            font-weight:bold;
                        }
                    }
                    
                    &:not(:last-child) {
                        margin-right: 20px;
                    }
                    
                    &:not(.active):last-child {
                    }
                    
                }
                
                
                
                @media (min-width: 768px) {
                        display: flex!important;
                        flex-direction:row;
                }
                
                &.collapsing {
                    align-items:flex-start !important;
                }
            }
            
            @media (max-width: 767px) {
                flex-direction:column;
            }
             
        }
        
    
    
   
}

