<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<system.webServer>
<!--
    
     <handlers>
            <remove name="BonCode-Tomcat-CFM-Handler" />
            <remove name="BonCode-Tomcat-CFC-Handler" />
            <add name="BonCode-Tomcat-CFM-Handler" path="*.cfm" verb="*" type="BonCodeIIS.BonCodeCallHandler" modules="ManagedPipelineHandler" resourceType="File" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" />
            <add name="BonCode-Tomcat-CFC-Handler" path="*.cfc" verb="*" type="BonCodeIIS.BonCodeCallHandler" modules="ManagedPipelineHandler" resourceType="File" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" />
        </handlers>
-->
    
	<httpProtocol>
     <customHeaders>
		<add name="Access-Control-Allow-Origin" value="http://mediakits.local" />
		

     </customHeaders>
   </httpProtocol>
<httpErrors existingResponse="PassThrough" />
<defaultDocument>
	<files>
		<remove value="index.cfm" />
                <add value="index.jsp" />
                <add value="index.cfm" />
	</files>
</defaultDocument>

<staticContent>
 	<remove fileExtension=".woff" />
	<mimeMap fileExtension=".woff" mimeType="application/octet-stream" />
</staticContent>
        <handlers>
            <add name="BonCode-Tomcat-JSP-Handler" path="*.jsp" verb="*" type="BonCodeIIS.BonCodeCallHandler" preCondition="integratedMode" />
            <add name="BonCode-Tomcat-CFC-Handler" path="*.cfc" verb="*" type="BonCodeIIS.BonCodeCallHandler" preCondition="integratedMode" />
            <add name="BonCode-Tomcat-CFM-Handler" path="*.cfm" verb="*" type="BonCodeIIS.BonCodeCallHandler" preCondition="integratedMode" />
        </handlers>

</system.webServer>
</configuration>
