/* Main Styles */
/*       Base Partial       */
* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #ececec; }

#content {
  flex: 1; }

main {
  padding: 40px 0px; }

section {
  padding: 40px 0; }

.row {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

.pane {
  margin-bottom: 30px;
  padding: 20px;
  background: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden; }
  .pane h1 {
    margin-top: 0;
    color: #6c5aa7; }

#page_load_info {
  display: none; }

.right {
  float: right; }

.centered {
  margin-left: auto;
  margin-right: auto;
  float: none; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

/* Home Partial */
.home main {
  padding: 0; }
.home #log-in-btn {
  color: white;
  font-weight: normal; }
.home #hero-image {
  background-color: black;
  height: 500px;
  padding: 10px 0 40px 0;
  background-image: url(/layouts/images/hero-image.jpg);
  background-size: cover;
  background-position: top center; }
  .home #hero-image #header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    .home #hero-image #header-items h1 {
      color: white;
      margin: 0;
      margin-bottom: 15px; }
    .home #hero-image #header-items div {
      margin-bottom: 15px; }
.home #call-to-action {
  background-color: #d3e9f8; }
  .home #call-to-action h2 {
    margin: 0;
    font-size: 52px; }
  .home #call-to-action .subtitle {
    font-size: 24px; }
  .home #call-to-action #example-image {
    background: white;
    height: 300px;
    margin-top: -80px;
    margin-bottom: -80px;
    margin-left: 30px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4); }
.home #what-we-do {
  background: white; }
  .home #what-we-do .mission:not(:last-child) {
    margin-bottom: 30px; }
.home #partners {
  background-color: rgba(211, 233, 248, 0.4); }
  .home #partners h2 {
    text-align: center;
    text-transform: uppercase;
    color: #84b0d1;
    margin: 0 0 20px 0; }
  .home #partners ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    .home #partners ul li {
      display: inline-block;
      color: #5f6366;
      font-weight: bold;
      font-size: 24px; }
      .home #partners ul li:not(:last-child) {
        margin-right: 20px; }

@media screen and (max-width: 991px) {
  #example-image {
    display: block;
    margin: 30px auto 0 auto !important; }

  .copyright {
    text-align: left !important;
    margin-top: 50px !important; } }
#login-form {
  margin-top: 30px; }
  #login-form input {
    margin-bottom: 20px; }

.edit-link {
  font-size: 10px;
  text-decoration: underline; }

#identity {
  max-width: 100%;
  background: #6c5aa7;
  padding: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }
  #identity h3 {
    color: #6c5aa7;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 5px; }
  #identity hr {
    border: 0;
    border-bottom: 2px solid #6c5aa7;
    max-width: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 0px auto 20px auto; }
  #identity #identity_image {
    background: url(../images/profile-picture1.jpg);
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px; }
    #identity #identity_image h2, #identity #identity_image p {
      color: white;
      margin: 0;
      text-shadow: 1px 1px 3px black, 1px 1px 3px black; }
    #identity #identity_image h2 {
      font-size: 28px; }
    #identity #identity_image p {
      font-size: 16px; }
  #identity #identity-statistics {
    padding: 20px 20px 20px 20px;
    width: 100%; }
    #identity #identity-statistics td {
      color: white;
      padding: 0px 0px;
      font-size: 15px; }
    #identity #identity-statistics .edit-link {
      color: #c2b4ef; }
    #identity #identity-statistics .add-link {
      font-size: 10px;
      color: #c2b4ef;
      text-decoration: underline;
      font-family: "Open Sans", Calibri, Helvetica, Arial, sans-serif;
      text-shadow: none; }
    #identity #identity-statistics .value {
      text-align: right;
      white-space: nowrap;
      font-weight: bold;
      text-shadow: 1px 1px 1px black;
      font-family: "Gilroy", Calibri, Helvetica, Arial, sans-serif; }
    #identity #identity-statistics .variable {
      font-family: "Gilroy", Calibri, Helvetica, Arial, sans-serif;
      width: 100%; }
    #identity #identity-statistics h3 {
      color: #fff; }
    #identity #identity-statistics hr {
      border-bottom-color: white; }
  #identity #google-analytics-section {
    background: #42a358;
    width: 100%;
    padding: 20px 20px 20px 20px;
    color: white; }
    #identity #google-analytics-section h3 {
      color: #fff; }
    #identity #google-analytics-section hr {
      border-bottom-color: white; }
  #identity .accomplishment-section {
    width: 100%;
    padding: 20px;
    background: white; }
    #identity .accomplishment-section .accomplishment {
      position: relative; }
      #identity .accomplishment-section .accomplishment:not(:last-child) {
        margin-bottom: 25px; }
      #identity .accomplishment-section .accomplishment .title {
        font-weight: bold;
        color: #6c5aa7; }
      #identity .accomplishment-section .accomplishment .date {
        color: black;
        text-align: right;
        font-size: 12px;
        align-self: center;
        font-weight: bold; }
      #identity .accomplishment-section .accomplishment .description {
        color: black;
        line-height: 1.3em; }
      #identity .accomplishment-section .accomplishment .delete-link {
        display: none; }
      #identity .accomplishment-section .accomplishment:hover .delete-link {
        position: absolute;
        padding: 5px 8px;
        background: #ff5880;
        color: white;
        left: 100%;
        margin-left: 20px;
        border-radius: 10px;
        top: 0; }
  #identity .tags-section {
    width: 100%;
    padding: 20px;
    background: white; }
  #identity .tags-list {
    list-style-type: none;
    margin-bottom: 0; }
  #identity .tag {
    display: inline-block;
    font-size: 12px;
    color: white;
    padding: 3px 9px;
    border-radius: 20px;
    background: #b1acc3;
    margin-bottom: 5px; }
  #identity .add-item-button {
    width: 100%;
    font-weight: bold;
    background-color: #ffffff;
    border: 1.3px solid #d2d2d2;
    color: #989898;
    font-size: 12px;
    border-style: dashed;
    margin-top: 20px; }
    #identity .add-item-button:hover {
      background-color: #ff5880;
      color: #ffffff;
      border-color: #ff5880; }

#main-profile-settings h2:not(:first-child) {
  margin-top: 20px; }

/* Typography Styles */
@font-face {
  font-family: Gilroy;
  src: url(/mediakits/includes/themes/mediakits/fonts/Gilroy-Light.otf);
  font-weight: normal; }
@font-face {
  font-family: Gilroy;
  src: url(/mediakits/includes/themes/mediakits/fonts/Gilroy-ExtraBold.otf);
  font-weight: bold; }
* {
  font-family: "Open Sans", Calibri, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5 {
  font-family: "Gilroy", Calibri, Helvetica, Arial, sans-serif;
  font-weight: bold; }

h2 {
  color: #6c5aa7;
  margin-top: 0; }

a {
  color: #ff5880;
  font-weight: bold; }

a:hover {
  color: #bb2d4f; }

p {
  font-size: 18px;
  color: #265f7d; }

/* Header Partial */
header {
  background-image: url(/layouts/images/footer-image.jpg);
  background-size: cover;
  display: flex; }
  header #logged-in-name {
    color: white;
    font-weight: bold;
    font-size: 18px;
    display: block; }
  header nav {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 10px; }
    header nav .navbar-brand {
      color: white;
      font-size: 36px;
      font-family: "Gilroy", Calibri, Helvetica, Arial, sans-serif; }
    header nav .icon-bar {
      background: white; }
    header nav ul {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 0;
      align-items: center;
      flex-direction: column;
      transition: all 0.2s !important; }
      header nav ul li {
        list-style-type: none;
        transition: background 0.1s; }
        header nav ul li a {
          font-size: 14px;
          color: white !important;
          text-decoration: none !important;
          font-weight: normal;
          padding: 10px;
          display: inline-block; }
        header nav ul li:hover {
          background: rgba(255, 88, 128, 0.4); }
        header nav ul li.active {
          background: #ff5880; }
          header nav ul li.active a {
            font-weight: bold; }
        header nav ul li:not(:last-child) {
          margin-right: 20px; }
      @media (min-width: 768px) {
        header nav ul {
          display: flex !important;
          flex-direction: row; } }
      header nav ul.collapsing {
        align-items: flex-start !important; }
    @media (max-width: 767px) {
      header nav {
        flex-direction: column; } }

/* Footer Partial */
footer {
  background-color: #2a1742;
  background-image: url(/layouts/images/footer-image.jpg);
  background-size: cover;
  padding: 55px; }
  footer h2, footer p, footer a, footer li {
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 0; }
  footer .subtitle {
    margin-bottom: 20px; }
  footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    footer ul li {
      display: inline-block; }
      footer ul li a {
        font-weight: normal; }
      footer ul li:not(:last-child) {
        margin-right: 30px; }
  footer .copyright {
    text-align: right;
    color: white; }

/* Button Styles */
a.button, button {
  padding: 7px 12px;
  color: white;
  font-weight: normal;
  background: #ff5880;
  border: 0; }
  a.button:not(:last-child), button:not(:last-child) {
    margin-right: 30px; }
  a.button.highlight-bg, a.button.active, button.highlight-bg, button.active {
    background: #ff5880;
    font-weight: bold; }

input[type="text"], input[type="password"] {
  display: block;
  font-size: 14px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid lightgray;
  outline: 0;
  width: 100%;
  margin-bottom: 20px; }

textarea {
  display: block;
  font-size: 14px;
  background: #ededed;
  border: 0;
  outline: 0;
  width: 100%;
  margin-bottom: 20px;
  padding: 5px; }

.field {
  position: relative;
  padding-top: 15px;
  display: flex;
  align-items: center; }
  .field input, .field textarea {
    margin-bottom: 10px;
    transition: all 0.2s; }
    .field input[disabled], .field textarea[disabled] {
      background: transparent !important; }
  .field textarea + label {
    top: 20px;
    left: 5px; }
  .field label {
    position: absolute;
    font-size: 14px;
    pointer-events: none;
    top: 15px;
    transition: all 0.1s;
    opacity: 1;
    color: gray;
    font-weight: normal; }
  .field input:valid + label, .field input:focus + label, .field textarea:valid + label, .field textarea:focus + label, .field input:not([value=""]) + label, .field textarea:not([value=""]) + label {
    font-size: 10px;
    opacity: 1;
    top: 0;
    font-weight: bold;
    left: 0; }
  .field input:focus + label, .field textarea:focus + label {
    color: #ff5880; }
  .field .edit-link {
    display: none; }
  .field input[disabled] ~ .edit-link, .field textarea[disabled] ~ .edit-link {
    display: block;
    margin-left: 10px; }

.dark .field input {
  background: rgba(0, 0, 0, 0.09);
  padding: 5px;
  border-bottom: 0; }
.dark .field label {
  position: absolute;
  font-size: 14px;
  pointer-events: none;
  top: 20px;
  left: 5px;
  transition: all 0.1s;
  opacity: 1;
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal; }
.dark .field input:valid + label, .dark .field input:focus + label {
  font-size: 10px;
  opacity: 1;
  top: 0;
  font-weight: bold; }
.dark .field input:focus + label {
  color: white; }
.dark .field .edit-link {
  color: white; }

table {
  width: 100%; }

.MK-modal {
  display: none;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto; }
  .MK-modal.visible {
    display: flex; }
  .MK-modal .MK-modal_content {
    margin: auto;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: auto; }
    .MK-modal .MK-modal_content .MK-modal_header {
      color: white;
      background: #6c5aa7;
      margin: 0;
      padding: 10px 20px;
      font-size: 16px; }
    .MK-modal .MK-modal_content .MK-modal_body {
      background: white;
      padding: 20px; }
      .MK-modal .MK-modal_content .MK-modal_body:after {
        clear: both;
        content: "";
        display: table; }

/*# sourceMappingURL=styles.css.map */
